@model Productos.Models.ModeloProductos

@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Política de Privacidad para Carrito.com
<br />
<br />
Fecha de entrada en vigencia: 1 de enero de 2023
<br />
<br />
<br />
Agradecemos su interés en Carrito.com ("Nosotros OFFEN.SA"). Valoramos y respetamos su privacidad y estamos comprometidos en proteger la información personal que usted nos proporciona. Esta política de privacidad describe cómo recopilamos, utilizamos y compartimos su información personal cuando visita nuestro sitio web y utiliza nuestros servicios en línea.

<br />
<br />
<br />
<br />
1. Información que Recopilamos
<br />
Recopilamos información personal de varias maneras, incluyendo, pero sin limitarse a:
<br />

1.1. Información que usted nos proporciona directamente: cuando crea una cuenta, realiza una compra, completa formularios en nuestro sitio web, o se comunica con nosotros a través de correo electrónico u otros canales de comunicación.
<br />
1.2. Información que recopilamos automáticamente: Utilizamos cookies y tecnologías similares para recopilar información sobre su actividad en nuestro sitio web, incluyendo su dirección IP, tipo de navegador, ubicación geográfica y páginas visitadas.

<br />
<br />
2. Uso de la Información

<br />
Utilizamos la información personal que recopilamos para:

<br />
2.1. Procesar y gestionar sus pedidos y compras.
<br />
2.2. Mejorar y personalizar su experiencia en nuestro sitio web.
<br />
2.3. Enviarle actualizaciones sobre nuestros productos, promociones y noticias relevantes.
<br />
2.4. Cumplir con nuestras obligaciones legales y regulaciones aplicables.

<br />
<br />

3. Compartir la Información
<br />
No vendemos, alquilamos ni compartimos su información personal con terceros no afiliados, excepto en las siguientes circunstancias:
<br />
3.1. Proveedores de servicios: Podemos compartir su información con terceros proveedores de servicios que nos ayuden a operar nuestro sitio web y brindarle nuestros servicios.
<br />
3.2. Cumplimiento legal: Podemos divulgar su información cuando así lo requieran las leyes aplicables, regulaciones, procesos legales o solicitudes gubernamentales.


<br />
<br />
4. Sus Derechos
<br />
Usted tiene derechos sobre su información personal, según lo establecido en las leyes de privacidad de Nicaragua, incluyendo, entre otros, el derecho de acceso, rectificación, supresión y oposición. Para ejercer estos derechos, póngase en contacto con nosotros a través de los datos de contacto proporcionados al final de esta política.


<br />
<br />
5. Seguridad de la Información
<br />
Tomamos medidas razonables para proteger su información personal, pero no podemos garantizar su seguridad absoluta. Es importante que usted también tome precauciones para proteger su información, como mantener sus credenciales de inicio de sesión seguras.

<br />
<br />
6. Cambios en la Política de Privacidad
<br />
Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Las actualizaciones se publicarán en nuestro sitio web con una nueva fecha de entrada en vigencia.

<br />
<br />

7. Contacto
<br />
Si tiene preguntas o preocupaciones sobre esta política de privacidad o sobre la forma en que manejamos su información personal, póngase en contacto con nosotros a través de:

Ever.ochoa120@est.unanleon.edu.ni
<br />
<br />
<br />
Última actualización: 17 de Septiembre de 2023</p>
