@model Productos.Models.ClienteInv

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

<div class="create-page">
    <div class="create-container">
        <h1 class="create-title">Registrar Cliente en el Inventario</h1>
        <hr class="create-hr" />
        
        <div class="create-form">
            <form asp-action="Create" class="styled-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="idcliente" class="control-label">ID del Cliente</label>
                    <input asp-for="idcliente" class="form-control" />
                    <span asp-validation-for="idcliente" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="Nombre" class="control-label">Nombre</label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Correo" class="control-label">Correo</label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Telefono" class="control-label">Teléfono</label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Direccion" class="control-label">Dirección</label>
                    <input asp-for="Direccion" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="imgcliente" class="control-label">Imagen del Cliente</label>
                    <input asp-for="imgcliente" class="form-control" />
                    <span asp-validation-for="imgcliente" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
        
        <div class="create-back-link">
            <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
        </div>
    </div>
</div>

</body>
</html>
